<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/style.css">
  <title>ops-game</title>
</head>
<body>
  <div class="background">
    <div class="ibg background-img">
      <picture>
        <source srcset="img/backdrop.webp" type="image/webp">
        <img class="imgNone imgIE11" src="img/backdrop.jpg" alt="backdrop">
      </picture>
    </div>
    <nav class="nav-menu nav-menu__passive pos-relative pos-absolute">
      <ul class="menu-ul disp-flex">
        <li class="menu-li"><a href="#about" class="menu-linc colffc600 font-size12 f-w6">About</a></li>
        <li class="menu-li"><a href="#development" class="menu-linc colffc600 font-size12 f-w6">Development</a></li>
        <li class="menu-li"><a href="#projects" class="menu-linc colffc600 font-size12 f-w6">Projects</a></li>
        <li class="menu-li"><a href="#blogs" class="menu-linc colffc600 font-size12 f-w6">Blog</a></li>
      </ul>
    </nav>
    <div class="burger width100in">
      <div class="wrapper pos-relative">
        <input type="checkbox" class="disp-none" id="check-menu">
        <div class="burger-line first pos-absolute"></div>
        <div class="burger-line second pos-absolute"></div>
        <div class="burger-line third pos-absolute"></div>
        <div class="burger-line fourth pos-absolute"></div>
      </div>
    </div>
    <div class="container centerX">


      <!-- header -->
      <header id="header">
        <div class="header__top padding-30">
          <h1 class="font-size202 colfff f-w7"><span class="colffc600 f-w7">S</span>ublime</h1>
          <P class="font-size18 colfff">
             <span class="colffc600 font-size18">S</span>ublime: A one page responsive wordpress theme
             suitable for any kind of business representation.
           </P>
           <a class="colffc600" href="">Download the psd.</a>
        </div>
          <div class="ibg header-img">
            <picture>
              <source srcset="./img/header.webp" type="image/webp">
              <img class="imgNone imgIE11" src="./img/header.jpg" alt="header">
            </picture>
          </div>
          <div class="header__bottom padding-30">
            <P class="font-size60 colfff f-w7">
               <span class="colffc600 font-size60 f-w7">We</span> create<br>Awesome Games
            </P>
          </div>
      </header>


      <!-- section-1 -->
      <section class="section-1 bac-col-fff padding-30" id="about">
        <div class="section-1__about about">
          <div class="about__logo">
            <p class="col717171 font-size30"><span class="font-size50">A</span>bout</p>
            <h1 class="font-size80"><span class="colffc600">S</span>ublime</h1>
          </div>
          <div class="about__text">
            <h3 class="italic font-size16">Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Nulla facilisis molestie dignissim. Nulla
              pellentesque et nisi et euismod. Pellentesque
              quis tristique magna.
            </h3>
            <p class="col595959">Maecenas est risus, tristique volutpat sagittis vel,
              feugiat consectetur diam. Suspendisse justo sem,
              molestie tincidunt rhoncus vel, molestie ut ligula.
              Mauris vitae ullamcorper odio. Mauris id enim
              gravida, tempor velit non, vehicula lacus. Sed
              rutrum tempus urna, sed aliquam lectus egestas
              eu. Maecenas est risus, tristique volutpat
              sagittis vel, feugiat consectetur diam. Suspendisse
              justo sem, molestie tincidunt rhoncus vel,
              molestie ut ligula. Mauris vitae ullamcorper odio.
              Mauris id enim gravida, tempor velit non,
              vehicula lacus. Sed rutrum tempus urna, sed aliquam
              lectus egestas eu
            </p>
          </div>
        </div>
        <div class="section-1__app app">
          <div class="app__1 section-1__app-dev">
            <h3 class="font-size18">App Development</h3>
            <P class="font-size10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nulla facilisis molestie dignissim. Nulla pellentesque et
              nisi et euismod. Pellentesque quis tristique magna.
            </P>
            <P class="font-size10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nulla facilisis molestie dignissim. Nulla pellentesque et
              nisi et euismod. Pellentesque quis tristique magna.
            </P>
          </div>
          <div class="app__2 section-1__app-dev">
            <h3 class="font-size18">Game Design</h3>
            <P class="font-size10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nulla facilisis molestie dignissim. Nulla pellentesque et
              nisi et euismod. Pellentesque quis tristique magna.
            </P>
            <P class="font-size10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nulla facilisis molestie dignissim. Nulla pellentesque et
              nisi et euismod. Pellentesque quis tristique magna.
            </P>
          </div>
          <div class="app__3 section-1__app-dev">
            <h3 class="font-size18">Content Creation</h3>
            <P class="font-size10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nulla facilisis molestie dignissim. Nulla pellentesque et
              nisi et euismod. Pellentesque quis tristique magna.
            </P>
            <P class="font-size10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nulla facilisis molestie dignissim. Nulla pellentesque et
              nisi et euismod. Pellentesque quis tristique magna.
            </P>
          </div>
        </div>
      </section>


      <!-- section-2 -->
      <section class="section-2 bac-col-fff" id="projects">
        <div class="section-2__menu">
          <h2 class="font-size30"><span class="colffc600 font-size50">F</span>eatured <span class="font-size50">P</span>rojects</h2>
          <nav class="section-2__nav">
            <ul class="menu-ul-2">
              <li class="menu-li-2"><a href="#" class="menu-linc-2">ALL WORKS</a></li>
              <li class="menu-li-2"><a href="#" class="menu-linc-2">GAMES</a></li>
              <li class="menu-li-2"><a href="#" class="menu-linc-2">APPLICATIONS</a></li>
              <li class="menu-li-2"><a href="#" class="menu-linc-2">CONTENT DEVELOPMENT</a></li>
            </ul>
          </nav>
        </div>
        <div class="section-2__projects">
          <div class="section-2__project ibg">
            <picture>
              <source srcset="./img/01.webp" type="image/webp">
              <img class="imgNone imgIE11" src="./img/01.jpg" alt="backdrop">
            </picture>
          </div>
          <div class="section-2__project ibg">
            <picture>
              <source srcset="./img/01.webp" type="image/webp">
              <img class="imgNone imgIE11" src="./img/01.jpg" alt="backdrop">
            </picture>
          </div>
          <div class="section-2__project ibg">
            <picture>
              <source srcset="./img/01.webp" type="image/webp">
              <img class="imgNone imgIE11" src="./img/01.jpg" alt="backdrop">
            </picture>
          </div>
          <div class="section-2__project ibg">
            <picture>
              <source srcset="./img/01.webp" type="image/webp">
              <img class="imgNone imgIE11" src="./img/01.jpg" alt="backdrop">
            </picture>
          </div>
          <div class="section-2__project ibg">
            <picture>
              <source srcset="./img/01.webp" type="image/webp">
              <img class="imgNone imgIE11" src="./img/01.jpg" alt="backdrop">
            </picture>
          </div>
          <div class="section-2__project ibg">
            <picture>
              <source srcset="./img/01.webp" type="image/webp">
              <img class="imgNone imgIE11" src="./img/01.jpg" alt="backdrop">
            </picture>
          </div>
          <div class="section-2__project ibg">
            <picture>
              <source srcset="./img/01.webp" type="image/webp">
              <img class="imgNone imgIE11" src="./img/01.jpg" alt="backdrop">
            </picture>
          </div>
          <div class="section-2__project ibg">
            <picture>
              <source srcset="./img/01.webp" type="image/webp">
              <img class="imgNone imgIE11" src="./img/01.jpg" alt="backdrop">
            </picture>
          </div>
        </div>
      </section>


      <!-- section-3 -->
      <section class="section-3 bac-col-fff" id="development">
        <div class="section-3__text">
          <h2 class="font-size30"><span class="font-size50 colffc600">S</span>trategic <span class="font-size50">P</span>rocess</h2>
          <h3 class="font-size16 italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla facilisis molestie dignissim. Nulla pellentesque et
            nisi et euismod. Pellentesque quis tristique mag
          </h3>
          <p class="col595959">Maecenas est risus, tristique volutpat sagittis vel,
            feugiat consectetur diam. Suspendisse justo sem, molestie
            tincidunt rhoncus vel, molestie ut ligula. Mauris vitae
            ullamcorper odio. Mauris id enim gravida, tempor velit
            non, vehicula lacus. Sed rutrum tempus urna, sed aliquam
            lectus egestas eu. Maecenas est risus, tristique volutpat
            sagittis vel, feugiat consectetur diam. Suspendisse justo
            sem, molestie tincidunt rhoncus vel, molestie ut ligula.
            Mauris vitae ullamcorper odio. Mauris id enim gravida,
            tempor velit non, vehicula lacus. Sed rutrum tempus urna,
            sed aliquam lectus egestas eu. Maecenas est risus,
            tristique volutpat sagittis vel, feugiat consectetur
            diam. Suspendisse justo sem, molestie tincidunt rhoncus
            vel, molestie ut ligula. Mauris vitae ullamcorper odio.
            Mauris id enim gravida, tempor velit non, vehicula lacus.
            Sed rutrum tempus urna, sed aliquam lectus egestas eu.
            Maecenas est risus, tristique volutpat sagittis vel,
            feugiat consectetur diam. Suspendisse justo sem, molestie
            tincidunt rhoncus vel, molestie ut ligula. Mauris vitae
            ullamcorper odio. Mauris id enim gravida, tempor velit non,
            vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus
            egestas eu.
          </p>
        </div>
        <div class="section-3__process process">
          <div class="section-3__container">
            <div class="process__1 process__list">
              <div class="process__wi process__img ibg left">
                <picture>
                  <source srcset="./img/02.webp" type="image/webp">
                  <img class="imgNone imgIE11" src="./img/02.jpg" alt="backdrop">
                </picture>
              </div>
              <div class="process__wi process__text margin-left">
                <h2 class="font-size30"><span class="font-size50">O</span>ur <span class="font-size50">P</span>rocess</h2>
                <h3 class="font-size16 italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis
                  molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque
                  quis tristique magna.
                </h3>
                <p class="col595959">Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
                  Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula.
                  Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non,
                  vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu
                </p>
              </div>
            </div>
            <div class="process__2 process__list">
              <div class="process__wi process__text margin-right">
                <h2 class="font-size30"><span class="font-size50">M</span>ethod</h2>
                <h3 class="font-size16 italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                  facilisis molestie dignissim. Nulla pellentesque et nisi et
                  euismod. Pellentesque quis tristique magna.
                </h3>
                <p class="col595959">Maecenas est risus, tristique volutpat sagittis vel, feugiat
                  consectetur diam. Suspendisse justo sem, molestie tincidunt
                </p>
              </div>
              <div class="process__wi process__img ibg right">
                <picture>
                  <source srcset="./img/02.webp" type="image/webp">
                  <img class="imgNone imgIE11" src="./img/02.jpg" alt="backdrop">
                </picture>
              </div>
            </div>
            <div class="process__3 process__list">
              <div class="process__wi process__img ibg left">
                <picture>
                  <source srcset="./img/02.webp" type="image/webp">
                  <img class="imgNone imgIE11" src="./img/02.jpg" alt="backdrop">
                </picture>
              </div>
              <div class="process__wi process__text margin-left">
                <h2 class="font-size30"><span class="font-size50">O</span>utcome</h2>
                <h3 class="font-size16 italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                  facilisis molestie dignissim. Nulla pellentesque et nisi et
                  euismod. Pellentesque quis tristique magna.
                </h3>
                <p class="col595959">Maecenas est risus, tristique volutpat sagittis vel, feugiat
                  consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus
                  vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id
                  enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus
                  urna, sed aliquam lectus egestas eu
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- section-4 -->
      <section class="section-4">
        <div class="ibg section-4__img">
          <picture>
            <source srcset="./img/04.webp" type="image/webp">
            <img class="imgNone imgIE11" src="./img/04.jpg" alt="backdrop">
          </picture>
        </div>
        <div class="section-4__text">
          <div class="section-4__text__h2">
            <h2 class="font-size30 colfff"><span class="font-size50 colffc600">S</span>ervices <span class="font-size50">P</span>rovided</h2>
          </div>
          <div class="section-4__text__h3">
            <div class="section-4__text__h3__app">
              <h3 class="font-size18 colfff">App Development</h3>
              <p class="font-size11 colfff">Maecenas est risus, tristique volutpat sagittis
                vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt
                Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur
                diam. Suspendisse justo sem, molestie tincidunt
              </p>
            </div>
            <div class="section-4__text__h3__app">
              <h3 class="font-size18 colfff">Game Development</h3>
              <p class="font-size11 colfff">Maecenas est risus, tristique volutpat sagittis
                vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt
                Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur
                diam. Suspendisse justo sem, molestie tincidunt
              </p>
            </div>
            <div class="section-4__text__h3__app">
              <h3 class="font-size18 colfff">App Design</h3>
              <p class="font-size11 colfff">Maecenas est risus, tristique volutpat sagittis
                vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt
                Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur
                diam. Suspendisse justo sem, molestie tincidunt
              </p>
            </div>
            <div class="section-4__text__h3__app">
              <h3 class="font-size18 colfff">Game Design</h3>
              <p class="font-size11 colfff">Maecenas est risus, tristique volutpat sagittis
                vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt
                Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur
                diam. Suspendisse justo sem, molestie tincidunt
              </p>
            </div>
          </div>
        </div>
      </section>


      <!-- section-5 -->
      <section class="section-5 bac-col-fff">
        <div class="section-5__h2">
          <h2 class="font-size30"><span class="font-size50 colffc600">O</span>ur <span class="font-size50">T</span>eam</h2>
        </div>
        <div class="section-5__app">
          <h3 class="font-size16 italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla
            pellentesque et nisi et euismod. Pellentesque quis tristique magna.
          </h3>
            <p class="col595959"> Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem,
              molestie tincidunt
            </p>
          <div class="section-5__deverlopers">
            <div class="section-5__deverloper">
              <div class="ibg section-5__deverloper-img">
                <picture>
                  <source srcset="./img/05.webp" type="image/webp">
                  <img class="imgNone imgIE11" src="./img/05.jpg" alt="backdrop">
                </picture>
              </div>
              <p class="font-size16">John Doe<br>CoFounder / CEO</p>
            </div>
            <div class="section-5__deverloper">
              <div class="ibg section-5__deverloper-img">
                <picture>
                  <source srcset="./img/05.webp" type="image/webp">
                  <img class="imgNone imgIE11" src="./img/./img/05.jpg" alt="backdrop">
                </picture>
              </div>
              <p class="font-size16">John Doe<br>process Manager</p>
            </div>
            <div class="section-5__deverloper">
              <div class="ibg section-5__deverloper-img">
                <picture>
                  <source srcset="./img/05.webp" type="image/webp">
                  <img class="imgNone imgIE11" src="./img/05.jpg" alt="backdrop">
                </picture>
              </div>
              <p class="font-size16">John Doe<br>Sales President</p>
            </div>
            <div class="section-5__deverloper">
              <div class="ibg section-5__deverloper-img">
                <picture>
                  <source srcset="./img/05.webp" type="image/webp">
                  <img class="imgNone imgIE11" src="./img/05.jpg" alt="backdrop">
                </picture>
              </div>
              <p class="font-size16">John Doe<br>Developer</p>
            </div>
          </div>
        </div>
      </section>


      <!-- section-6 -->
      <section class="section-6 bac-col-000">
        <div class="section-6__text">
          <h2 class="colfff font-size30"><span class="font-size50 colffc600">T</span>estimonials</h2>
          <h3 class="font-size16 italic colfff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie
            dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.
          </h3>
          <p class="colfff">Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
            Suspendisse justo sem, molestie tincidunt
          </p>
        </div>
        <div class="section-6__ceo">
          <div class="ibg section-6__img">
            <picture>
              <source srcset="./img/06.webp" type="image/webp">
              <img class="imgNone imgIE11" src="./img/06.jpg" alt="backdrop">
            </picture>
          </div>
          <p class="colfff font-size16">John Doe<br>CoFounder / CEO</p>
        </div>
      </section>


      <!-- section-7 -->
      <section class="section-7 bac-col-fff" id="blogs">
        <div class="section-7__menu">
          <h2 class="font-size30"><span class="font-size50 colffc600">B</span>logs</h2>
          <nav class="section-7__menu-nav">
            <ul class="menu-ul-3">
              <li class="menu-li-3"><a href="#" class="col000">Latest Posts</a></li>
              <li class="menu-li-3"><a href="#" class="col000">App Design</a></li>
              <li class="menu-li-3"><a href="#" class="col000">App Development</a></li>
              <li class="menu-li-3"><a href="#" class="col000">Design Solutions</a></li>
              <li class="menu-li-3"><a href="#" class="col000">Quality Assurance</a></li>
              <li class="menu-li-3"><a href="#" class="col000">Development Mode</a></li>
              <li class="menu-li-3"><a href="#" class="col000">What’s Out There</a></li>
            </ul>
          </nav>
        </div>
        <div class="section-7__blogs">
          <div class="section-7__blog1 blog">
            <div class="ibg section-7__img">
              <picture>
                <source srcset="./img/07.webp" type="image/webp">
                <img class="imgNone imgIE11" src="./img/07.jpg" alt="backdrop">
              </picture>
            </div>
            <p class="blog__data font-size18 colffc600">July 4th 2016</p>
            <h3 class="font-size16 f-w7">Lorem ipsum dolor sit amet,</h3>
            <p class="font-size11 italic">Lorem ipsum dolor sit amet,
               consectetur adipiscing elit.
               Nulla facilisis molestie dignissim.
             </p>
          </div>
          <div class="section-7__blog2 blog">
            <div class="ibg section-7__img">
              <picture>
                <source srcset="./img/07.webp" type="image/webp">
                <img class="imgNone imgIE11" src="./img/07.jpg" alt="backdrop">
              </picture>
            </div>
            <p class="blog__data font-size18 colffc600">June 20th 2016</p>
            <h3 class="font-size16 f-w7">Lorem ipsum dolor sit amet,</h3>
            <p class="font-size11 italic">Lorem ipsum dolor sit amet,
               consectetur adipiscing elit.
               Nulla facilisis molestie dignissim.
             </p>
          </div>
          <div class="section-7__blog3 blog">
            <div class="ibg section-7__img">
              <picture>
                <source srcset="./img/07.webp" type="image/webp">
                <img class="imgNone imgIE11" src="./img/07.jpg" alt="backdrop">
              </picture>
            </div>
            <p class="blog__data font-size18 colffc600">May 6th 2016</p>
            <h3 class="font-size16 f-w7">Lorem ipsum dolor sit amet,</h3>
            <p class="font-size11 italic">Lorem ipsum dolor sit amet,
               consectetur adipiscing elit.
               Nulla facilisis molestie dignissim.
             </p>
          </div>
        </div>
      </section>


      <!-- section-8 -->
      <section class="section-8 bac-col-fff">
        <div id="googleMap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.1873203434934!2d73.88954755094647!3d18.475172387373828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea62d51980df%3A0x2852517b24c2f948!2zSGlsbCBNaXN0IEdhcmRlbiwgTklCTSBSb2FkLCBLYXVzYXIgQmF1Z2gsIEtvbmRod2EsIFB1bmUsIE1haGFyYXNodHJhIDQxMTA0OCwg0JjQvdC00LjRjw!5e0!3m2!1sru!2sru!4v1610435514313!5m2!1sru!2sru" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="section-8__form bac-col-2046b3">
          <div class="section-8__form-shipment">
            <h2 class="font-size30 colfff"><span class="font-size50 colffc600">C</span>ontact <span class="font-size50">U</span>s</h2>
            <form id="send-form" action="/process?form=main" role="form" class="form-horizontal letterForm" method="POST">
              <input type="text" name="userName" id="text" placeholder="Your Name"/>
              <div class="section-8__form__tel-email">
                <input type="tel" name="userTel" id="tel" placeholder="Mobile"/>
                <input type="email" name="userEmail" id="email" placeholder="Email"/>
              </div>
              <textarea type="textarea" name="userMessage" id="yourMessage" placeholder="Your Message"></textarea>
              <input type="button" class="button bac-col-ffc600 font-size16 f-w7" ctype="submit" value="SEND"/>
            </form>
          </div>
          <div class="section-8__form-location">
            <h3 class="colfff font-size16">Location Map</h3>
            <nav class="section-8__menu-nav">
              <ul class="menu-ul-4">
                <li class="menu-li-4"><a href="#googleMap" class="font-size12 colfff"><span class="font-size16 menu-li-4__span1">Address</span>Hill Mist garden, Pune, 411 048. India</a></li>
                <li class="menu-li-4"><a href="tel:+911253467890" class="font-size12 colfff"><span class="font-size16 menu-li-4__span2">Phone</span>+91 12534 67890</a></li>
                <li class="menu-li-4"><a href="mailto:firkho@firkho.com" class="font-size12 colfff"><span class="font-size16 menu-li-4__span3">Email</span>firkho@firkho.com</a></li>
              </ul>
            </nav>
            <nav class="section-8__menu-nav-message">
              <ul class="menu-ul-5">
                <li class="menu-li-5"><a href="#"><img src="img/twitter.png" alt="twitter"></a></li>
                <li class="menu-li-5"><a href="#"><img src="img/twitter.png" alt="twitter"></a></li>
                <li class="menu-li-5"><a href="#"><img src="img/twitter.png" alt="twitter"></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </section>


      <!-- footer -->
      <div>
        <footer class="footer bac-col-fff">
          <div class="footer__logo">
            <div class="footer__img ibg">
              <picture>
                <source srcset="./img/footer.webp" type="image/webp">
                <img class="imgNone imgIE11" src="./img/footer.jpg" alt="backdrop">
              </picture>
            </div>
            <h2 class="font-size100 colfff f-w7"><span class="colffc600">We</span> create<br>Awesome Games</h2>
          </div>
          <div class="footer__menu bac-col-000">
            <h3 class="font-size60 colfff"><span class="colffc600">S</span>ublime</h3>
            <nav class="footer__menu-nav">
              <ul class="menu-ul-6">
                <li class="menu-li-6"><a class="colfff" href="#header">HOME</a></li>
                <li class="menu-li-6"><a class="colfff" href="#">ABOUT SUBLIME</a></li>
                <li class="menu-li-6"><a class="colfff" href="#">OUR WORKS</a></li>
                <li class="menu-li-6"><a class="colfff" href="#">SERVICES</a></li>
                <li class="menu-li-6"><a class="colfff" href="#">TEAM</a></li>
                <li class="menu-li-6"><a class="colfff" href="#">TESTIMONIALS</a></li>
                <li class="menu-li-6"><a class="colfff" href="#">BLOG</a></li>
                <li class="menu-li-6"><a class="colfff" href="#">CLIENTS</a></li>
                <li class="menu-li-6"><a class="colfff" href="#">CONTACT US</a></li>
              </ul>
            </nav>
            <nav class="footer__menu-nav-message">
              <ul class="menu-ul-7">
                <li class="menu-li-7"><a href="#"><img src="img/twitter.png" alt="twitter"></a></li>
                <li class="menu-li-7"><a href="#"><img src="img/twitter.png" alt="twitter"></a></li>
                <li class="menu-li-7"><a href="#"><img src="img/twitter.png" alt="twitter"></a></li>
              </ul>
            </nav>
          </div>
        </footer>
      </div>
    </div>
  </div>
<script src="./js/ibg.js"></script>
<script src="./js/script.js"></script>
</body>
</html>
